{
    "openapi": "3.1.0",
    "info": {
        "title": "Etherfuse FX API",
        "description": "Partner-facing ramp API for onramps, offramps, swaps, and KYC.",
        "license": {
            "name": "Proprietary"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.sand.etherfuse.com",
            "description": "Sandbox"
        }
    ],
    "paths": {
        "/auth/token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Exchange a partner JWT",
                "description": "OAuth 2.0 token endpoint ([RFC 6749 §3.2](https://www.rfc-editor.org/rfc/rfc6749#section-3.2)). Exchanges a partner-signed JWT for an Etherfuse access/refresh token pair, or refreshes an existing session.\n\nCall this from your backend to provision a user ahead of a launch, or to prefetch a `refresh_token` that speeds up the launch redirect. Your backend signs a JWT with the key behind your registered JWKS and posts it here. To drop a user straight into the app in a browser, use [POST /auth/launch](/api-reference/authentication/launch-a-user-into-the-app) instead.\n\n## Grant types\n\n- `urn:ietf:params:oauth:grant-type:jwt-bearer` ([RFC 7523](https://www.rfc-editor.org/rfc/rfc7523)). Put the partner JWT in `assertion`.\n- `refresh_token` ([RFC 6749 §6](https://www.rfc-editor.org/rfc/rfc6749#section-6)). Put a prior `refresh_token` in `refresh_token`.\n\n## The JWT\n\nSign it with the key behind your registered JWKS (see [Sign a user JWT](/guides/jwt-authentication#sign-a-user-jwt) for full detail). Claims:\n\n- **`iss`**: your registered issuer.\n- **`sub`**: the person signing in; a UUID is _strongly recommended_ (for an individual customer it's the same value as `customerId` in the Ramp API). Must name a person, never a business: a business org id is rejected with `invalid_grant`, and a `sub` can't be reused as a business org id ([POST /ramp/organization](/api-reference/organizations/create-child-org) returns 409). A non-UUID `sub` still signs in, but can't be addressed through the Ramp API.\n- **`aud`**: the token endpoint URL, `https://api.etherfuse.com/auth/token` (`https://api.sand.etherfuse.com/auth/token` in sandbox).\n- **`scope`**: required. Names the flow the user may complete (see [User Launch Flows](/guides/user-launch-flows#scopes)); an unrecognized scope is rejected with `invalid_scope`.\n- **`jti`** / **`nonce`**: a fresh value, unique per token, for replay protection. You can send it as `jti` (the standard JWT ID) or `nonce` (the standard OIDC claim).\n- **`exp`, `iat`**: required; keep tokens short-lived.\n- **`email`, `name`**: required; populate the user's profile. `picture` is optional.\n\nThis endpoint is unauthenticated: the signed JWT (or refresh token) is the credential. Do **not** send an API key.",
                "operationId": "auth_token",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthTokenRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A bearer access token and refresh token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OAuth error: `invalid_request`, `invalid_grant`, `invalid_scope`, or `unsupported_grant_type` ([RFC 6749 §5.2](https://www.rfc-editor.org/rfc/rfc6749#section-5.2))",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/launch": {
            "servers": [
                {
                    "url": "https://sandbox.etherfuse.com",
                    "description": "Sandbox app (NOT the API host)"
                }
            ],
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Launch a user via postMessage",
                "description": "> ⚠️ **Different host.** Like [POST /auth/launch](/api-reference/authentication/launch-a-user-into-the-app), this lives on the **app host** (`app.etherfuse.com` / `sandbox.etherfuse.com`), **not** the API host. It is a browser-facing page, not a JSON API.\n\nThe `postMessage` variant of launch, for embedding the flow in an **iframe or popup**. Open `/auth/launch` with no body; on load it asks its embedder (your page) for credentials over `postMessage`, and you reply. Use this when you don't want to server-render a [form POST](/api-reference/authentication/launch-a-user-into-the-app). It also lets you handle session expiration and launch into different targets seamlessly, without a redirect page.\n\n## postMessage contract\n\n1. On load, the launch frame posts an `etherfuse:auth:request` message to its embedder.\n2. Your page replies with an `etherfuse:auth:response` carrying the fields below.\n3. If you need a moment to sign a JWT, send `etherfuse:auth:await` first so the frame doesn't time out.\n\n## Fields\n\n- **`grant_type`** and **`assertion`**: a raw partner JWT (`grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer`) or a `refresh_token` from a prior [server-side exchange](/api-reference/authentication/exchange-a-partner-jwt) (`grant_type=refresh_token`).\n- **`target`**: the app path to land on. Must be an allowed target. See [User Launch Flows](/guides/user-launch-flows#targets). Any other path is rejected.\n- **`return_url`** *(optional)*: where to send the user when they leave.\n\nThe JWT's `sub` and `scope` follow the same rules as [POST /auth/launch](/api-reference/authentication/launch-a-user-into-the-app).",
                "operationId": "auth_launch_postmessage",
                "security": [],
                "responses": {
                    "200": {
                        "description": "An HTML page that requests credentials from the embedder over `postMessage`, establishes the session, and redirects the browser to `target`."
                    }
                }
            },
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Launch a user into the app",
                "description": "> ⚠️ **Different host.** Unlike every other endpoint in this reference, `/auth/launch` lives on the **app host** (`app.etherfuse.com` / `sandbox.etherfuse.com`), **not** the API host (`api.etherfuse.com`). It is a browser-facing page, not a JSON API.\n\nDrops one of your users into the Etherfuse app with an authenticated session. Use it for **browser** flows, such as sending a user into KYB. Your server POSTs an HTML form (or redirects the browser) to this URL; the app establishes the session and redirects the user to `target`. To embed the flow in an iframe or popup instead, use the [postMessage variant](/api-reference/launch-via-postmessage).\n\n## Targets\n\nThe `target` and `scope` for every flow you can launch a user into (and what to know about each) are documented in [User Launch Flows](/guides/user-launch-flows). A `target` must be one of those allowed paths (optionally with a query string such as `?org=<org_id>`); any other path is rejected with `invalid_target`.\n\nThe JWT's `sub` is _strongly recommended_ to be a UUID identifying the person signing in (see [Sign a user JWT](/guides/jwt-authentication#sign-a-user-jwt) for how `sub` relates to the Ramp API `customerId` for individuals vs businesses), and its `scope` follows the same rules as [`/auth/token`](/api-reference/authentication/exchange-a-partner-jwt). The endpoint is unauthenticated: the JWT or refresh token is the credential.",
                "operationId": "auth_launch",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthLaunchRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthLaunchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An HTML page that establishes the session and redirects the browser to `target`."
                    }
                }
            }
        },
        "/lookup/bonds/cost": {
            "get": {
                "tags": [
                    "Lookup"
                ],
                "summary": "List stablebond costs",
                "description": "Returns current pricing data for all stablebonds, including the bond cost in\nUSD, fiat, and per-provider exchange rate sources. Each bond entry includes a\n`sources` map showing the exchange rate and derived `bond_cost_in_usd` from\neach FX provider, enabling oracle safety checks.\n\nPublic — no API key required.",
                "operationId": "get_bond_prices",
                "parameters": [
                    {
                        "name": "max_age",
                        "in": "query",
                        "description": "Maximum age of a source in seconds. Sources older than this are excluded.",
                        "required": false,
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "format": "int64",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pricing data keyed by bond mint address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/PaymentData"
                                    },
                                    "propertyNames": {
                                        "type": "string"
                                    }
                                },
                                "example": {
                                    "CETES7CKqqKQizuSN6iWQwmTeFRjbJR6Vw2XRKfEDR8f": {
                                        "bond_cost_in_fiat": "1.153754",
                                        "bond_cost_in_payment_token": "1.153754",
                                        "bond_cost_in_usd": "0.064785",
                                        "bond_symbol": "CETES",
                                        "currency": "MXN",
                                        "current_basis_points": 578,
                                        "current_time": "2026-03-23T16:50:32.821673099+00:00",
                                        "fiat_exchange_rate_with_usd": "17.80900",
                                        "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                                        "sources": {
                                            "provider_1": {
                                                "bond_cost_in_usd": "0.064781",
                                                "exchange_rate": "17.81",
                                                "updated_at": 1711212632
                                            },
                                            "provider_2": {
                                                "bond_cost_in_usd": "0.064854",
                                                "exchange_rate": "17.79",
                                                "updated_at": 1711212630
                                            }
                                        },
                                        "symbol": "USDC"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Bond prices not available"
                    }
                },
                "security": [
                    {}
                ]
            }
        },
        "/lookup/bonds/cost/{identifier}": {
            "get": {
                "tags": [
                    "Lookup"
                ],
                "summary": "Get stablebond cost",
                "description": "Returns current pricing data for a single stablebond, including the bond cost\nin USD, fiat, and per-provider exchange rate sources. The `identifier` can be\neither a Solana mint address (e.g. `CETES7CKqqKQizuSN6iWQwmTeFRjbJR6Vw2XRKfEDR8f`)\nor a bond symbol (e.g. `CETES`).\n\nPublic — no API key required.",
                "operationId": "get_bond_price",
                "parameters": [
                    {
                        "name": "identifier",
                        "in": "path",
                        "description": "Bond mint address or symbol (e.g. \"CETES\", \"USTRY\", \"CETES7CKqqKQizuSN6iWQwmTeFRjbJR6Vw2XRKfEDR8f\")",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "max_age",
                        "in": "query",
                        "description": "Maximum age of a source in seconds. Sources older than this are excluded.",
                        "required": false,
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "format": "int64",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pricing data for the requested bond",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentData"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Bond not found for identifier"
                    }
                },
                "security": [
                    {}
                ]
            }
        },
        "/lookup/country-codes": {
            "get": {
                "tags": [
                    "Lookup"
                ],
                "summary": "List country codes",
                "description": "Returns supported countries with ISO 3166-1 alpha-2 codes, alpha-3 codes, and\nEnglish names. Use these codes for `birthCountryIsoCode` and `countryIsoCode`\nwhen registering bank accounts.\n\nPublic — no API key required.",
                "operationId": "country_codes",
                "responses": {
                    "200": {
                        "description": "Supported countries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Country"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {}
                ]
            }
        },
        "/lookup/restricted-countries": {
            "get": {
                "tags": [
                    "Lookup"
                ],
                "summary": "List restricted countries",
                "description": "Returns the countries that are effectively restricted for KYC or KYB based on\nexternal consensus and internal overrides. Each entry shows whether KYC, KYB, or both\nare blocked.\n\nPublic — no API key required.",
                "operationId": "restricted_countries",
                "responses": {
                    "200": {
                        "description": "Restricted countries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RestrictedCountriesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {}
                ]
            }
        },
        "/lookup/exchange_rate": {
            "get": {
                "tags": [
                    "Lookup"
                ],
                "summary": "List exchange rates",
                "description": "Returns current USD exchange rates for all supported currencies, each keyed by\n`usd_to_<currency>` with a per-provider `sources` breakdown.\n\nPublic — no API key required.",
                "operationId": "exchange_rates",
                "parameters": [
                    {
                        "name": "max_age",
                        "in": "query",
                        "description": "Maximum age of a source in seconds. Sources whose `updated_at` timestamp\nis older than `now - max_age` are excluded from the `sources` map.\nWhen omitted, all sources are returned regardless of age.",
                        "required": false,
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "format": "int64",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All exchange rates keyed by `usd_to_<currency>`",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "usd_to_brl": {
                                        "rate": "4.97",
                                        "sources": {
                                            "provider_1": {
                                                "rate": "4.97",
                                                "updated_at": 1709510400
                                            }
                                        },
                                        "updated_at": 1709510400
                                    },
                                    "usd_to_mxn": {
                                        "rate": "17.15",
                                        "sources": {
                                            "provider_1": {
                                                "rate": "17.15",
                                                "updated_at": 1709510400
                                            }
                                        },
                                        "updated_at": 1709510400
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {}
                ]
            }
        },
        "/lookup/exchange_rate/usd_to_{currency}": {
            "get": {
                "tags": [
                    "Lookup"
                ],
                "summary": "Get exchange rate",
                "description": "Returns the current USD-to-specified-currency exchange rate, with a\nper-provider `sources` breakdown.\n\nPublic — no API key required.",
                "operationId": "usd_to_currency",
                "parameters": [
                    {
                        "name": "currency",
                        "in": "path",
                        "description": "The target currency code (e.g. \"mxn\", \"brl\", \"eur\")",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "max_age",
                        "in": "query",
                        "description": "Maximum age of a source in seconds. Sources whose `updated_at` timestamp\nis older than `now - max_age` are excluded from the `sources` map.\nWhen omitted, all sources are returned regardless of age.",
                        "required": false,
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "format": "int64",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exchange rate with per-provider source breakdown",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "rate": "17.15",
                                    "sources": {
                                        "provider_1": {
                                            "rate": "17.15",
                                            "updated_at": 1709510400
                                        }
                                    },
                                    "updated_at": 1709510400
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Currency is not supported"
                    }
                },
                "security": [
                    {}
                ]
            }
        },
        "/lookup/stablebonds": {
            "get": {
                "tags": [
                    "Lookup"
                ],
                "summary": "List stablebonds",
                "description": "Returns all stablebonds with current prices, supplies, and multi-chain\nbreakdown. Data is cached for ~5 minutes.\n\nPublic — no API key required.",
                "operationId": "get_stablebonds",
                "responses": {
                    "200": {
                        "description": "All stablebonds with pricing and supply",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StablebondsCachable"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Stablebonds data not yet available"
                    }
                },
                "security": [
                    {}
                ]
            }
        },
        "/ramp": {
            "get": {
                "tags": [
                    "Organizations"
                ],
                "summary": "Verify API key",
                "description": "Returns the organization ID associated with the API key. Useful for\nverifying credentials and connectivity.",
                "operationId": "test_route",
                "responses": {
                    "200": {
                        "description": "The authenticated organization ID",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "org_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ramp/assets": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "summary": "List assets",
                "description": "Returns all rampable stablecoins (e.g. USDC, EURC) and stablebonds (e.g. CETES)\navailable on the specified blockchain. The `currency` parameter controls sort priority —\nassets matching the requested currency appear first, but all rampable assets for the\nchain are always returned. Use the `identifier` from the response when creating quotes.",
                "operationId": "get_rampable_assets",
                "parameters": [
                    {
                        "name": "blockchain",
                        "in": "query",
                        "description": "The blockchain to get assets for (e.g., \"stellar\", \"solana\")",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Blockchain"
                        }
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "The fiat currency for sort priority (e.g., \"mxn\"). Assets matching this currency appear first.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "wallet",
                        "in": "query",
                        "description": "The wallet address to fetch balances for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The rampable assets for the chain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RampableAssetsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ramp/bank-account": {
            "post": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Create bank account (presigned)",
                "description": "Registers a customer's Mexican bank account (CLABE) for on/off-ramp transactions. The\n`account` field accepts two variants — Personal or Business — auto-detected from the\nfields present.\n\n**Sandbox:** submit `XEXX010101000` (personal) or `XEX010101000` (business) as the `rfc`\nto skip SPEI provider registration and have the account marked `compliant: true`\nimmediately. Any other RFC in sandbox is sent to the SPEI provider's sandbox as a real\nregistration and will not auto-approve. Both values are rejected in production.\n\n**Precondition:** the owning organization must be approved before a bank account can be\nadded. Adding a bank to an unapproved organization returns `409 Conflict`.\n\n**Note:** this endpoint is for customers onboarding through the Etherfuse UI using a\npresigned URL. For programmatic creation via API key, use\n`POST /ramp/customer/{customer_id}/bank-account` instead.",
                "operationId": "create_bank_account",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBankAccountPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The created bank account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddBankAccountResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or expired presigned URL"
                    },
                    "409": {
                        "description": "The owning organization is not yet approved. A bank account cannot be added until the organization has been approved.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Organization must be approved before adding a bank account"
                            }
                        }
                    }
                },
                "security": [
                    {}
                ]
            }
        },
        "/ramp/bank-account/{bank_account_id}": {
            "get": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Get bank account",
                "description": "Retrieves details for a specific bank account accessible to your API key.",
                "operationId": "get_bank_account",
                "parameters": [
                    {
                        "name": "bank_account_id",
                        "in": "path",
                        "description": "The bank account ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The bank account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BankAccount"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Bank account not found"
                    }
                }
            }
        },
        "/ramp/bank-accounts": {
            "get": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "List bank accounts",
                "description": "Returns the first page of bank accounts with defaults (pageSize 30, pageNumber 0, no\nfilters). Use the POST variant for pagination and date filtering.",
                "operationId": "list_bank_accounts",
                "responses": {
                    "200": {
                        "description": "Paginated bank accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedBankAccounts"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Search bank accounts",
                "description": "Retrieves a paginated list of bank accounts. The request body is optional — omitting it\nreturns the first page with defaults (pageSize 30, pageNumber 0, no filters).",
                "operationId": "get_bank_accounts",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PagedRequest_DateRangeFilter"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Paginated bank accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedBankAccounts"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get customer",
                "description": "Retrieves details for a specific customer accessible to your API key.",
                "operationId": "get_customer",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The customer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/bank-account": {
            "post": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Create bank account (API)",
                "description": "Programmatically creates a new bank account for a customer using API-key\nauthentication — no presigned URL required. The registration data (name, CURP, RFC,\nCLABE, etc.) is validated and sent to the payment processor. Bank accounts require\nverification before they can be used for transactions.\n\n**Sandbox:** submit `XEXX010101000` (personal) or `XEX010101000` (business) as the `rfc`\nto skip SPEI provider registration and have the account marked `compliant: true`\nimmediately. The hosted onboarding UI uses these RFCs automatically — programmatic\ncallers must opt in by passing them. Any other RFC in sandbox is sent to the SPEI\nprovider's sandbox as a real registration and will not auto-approve. Both values are\nrejected in production.\n\n**Precondition:** the owning organization must be approved before a bank account can be\nadded. Adding a bank to an unapproved organization returns `409 Conflict`. A newly created\ncustomer is unapproved, so complete its verification and approval before registering a\nbank.",
                "operationId": "api_create_bank_account",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiCreateBankAccountPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "The created bank account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BankAccount"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request"
                    },
                    "409": {
                        "description": "The owning organization is not yet approved. A bank account cannot be added until the organization has been approved.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Organization must be approved before adding a bank account"
                            }
                        }
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/bank-accounts": {
            "get": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "List customer accounts",
                "description": "Returns the first page of bank accounts for a specific customer with defaults\n(pageSize 30, pageNumber 0, no filters). Use the POST variant for pagination and\ndate filtering.",
                "operationId": "list_customer_bank_accounts",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated bank accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedBankAccounts"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            },
            "post": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Search customer accounts",
                "description": "Retrieves bank accounts for a specific customer. The request body is optional —\nomitting it returns the first page with defaults (pageSize 30, pageNumber 0, no filters).",
                "operationId": "get_customer_bank_accounts",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PagedRequest_DateRangeFilter"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Paginated bank accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedBankAccounts"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/kyc": {
            "get": {
                "tags": [
                    "KYC"
                ],
                "summary": "Get KYC status",
                "description": "Returns the current KYC verification status for a customer, resolved from the customer's account. The overall `status` matches the logic used for orders, so it stays consistent with whether the customer can transact, and `approved` is the only value that lets them. Submission details such as rejection reasons and timestamps are visible only to the partner that submitted the data.\n\n## The requirements breakdown\n\nPass `?requirements=true` to add a `requirements` array describing, step by step, what this customer's verification still needs. Each entry carries a `type`, a `status`, and a `requiresLaunch` flag, which is what separates \"I still owe data over the API\" from \"it is time to launch the customer\". It is opt-in because resolving it costs upstream calls; omit the parameter and the response is unchanged.\n\n`requirements` is omitted entirely until the customer has been routed to their country's requirements. Before that there is no country-specific requirement set to describe, and reporting the router's own steps would read as \"this customer is done\" precisely when nothing has happened. The list can also grow as they advance: a proof of address is requested only later, and only when the identity document carried no address. Re-read it rather than treating the first response as final.\n\n## Prefer the webhook\n\n`kyc_updated` is how you learn that something changed. Read this endpoint on demand, or in response to that webhook when you need to know what specifically is outstanding. With `?requirements=true` it resolves against the verification provider on every call, so it is not built for tight polling. See [Tracking verification status](/guides/onboarding#tracking-verification-status).",
                "operationId": "get_kyc_org",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "requirements",
                        "in": "query",
                        "description": "Include the per-requirement `requirements` breakdown. Off by default.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The org-level KYC status for the customer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KycStatusResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The `customer_id` exists but is not a child of your organization. Ownership is checked before any upstream call, so an unauthorized caller neither spends those reads nor learns from the error shape whether the customer exists."
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            },
            "post": {
                "tags": [
                    "Deprecated"
                ],
                "deprecated": true,
                "summary": "Submit KYC",
                "description": "**Deprecated.** New integrations use [Submit verification data](/api-reference/kyc/submit-verification-data), which writes onto the customer's verification profile the hosted flow actually reads. See [KYC API](/guides/kyc-api).\n\nSubmit identity information (name, address, DOB, tax ID) for a customer\nprogrammatically, an alternative to the presigned-URL flow where users complete KYC in\nthe Etherfuse UI.\n\n**Use case:** partners who want to white-label the KYC experience can collect identity\ndata in their own UI and submit it here.\n\nSubmitted data is reviewed by Etherfuse admins before approval; you'll receive a\n`kyc_updated` webhook when the status changes.\n\n**Sandbox auto-approval:** in sandbox, a `personal` customer auto-approves once all\nagreements have been signed, with no manual review. Submitting KYC alone leaves the customer\n`submitted`; approval lands only after the rest of the programmatic flow (document upload\nand agreement signing) is complete, at which point a `kyc_updated` webhook fires and orders\nunlock for the wallet. This is sandbox-only; production still requires manual review.\n\n**Data isolation:** partners can only query KYC data they submitted; data submitted by\nother partners or directly by users is not visible.",
                "operationId": "submit_kyc",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubmitKycRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "KYC identity data submitted",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "KYC data submitted for review",
                                    "status": "submitted"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    },
                    "400": {
                        "description": "Validation failed. The plain text body lists every missing or invalid field. Also returned as `Unable to verify model ownership` when the customer id exists but is not a customer of your organization.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "phoneNumber is required; occupation is required; idNumbers may only be provided when address.country is MX"
                            }
                        }
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/kyc/documents": {
            "post": {
                "tags": [
                    "Deprecated"
                ],
                "deprecated": true,
                "summary": "Upload KYC docs",
                "description": "**Deprecated.** New integrations use [Upload verification documents](/api-reference/kyc/upload-verification-documents), which takes real file parts instead of base64 JSON and applies them to the customer's verification profile. See [KYC API](/guides/kyc-api).\n\nUpload identity documents (government ID, selfie) for a customer.\n\n**Document requirements:**\n- Formats: JPEG, PNG\n- Max size: 10 MB total per request (the whole body, across all images), not per image\n- Required documents: `id_front`, `id_back` (if applicable), `selfie`\n- Encoding: Base64\n\nUse the `documentType` field: `document` for government ID images (front and back),\n`selfie` for the selfie verification photo.\n\nSubmitted documents are reviewed by Etherfuse admins before approval; you'll receive a\n`kyc_updated` webhook when the status changes.\n\n**Sandbox auto-approval:** in sandbox, a `personal` customer auto-approves once all\nagreements have been signed, with no manual review. Uploading documents is a required step in\nthe programmatic flow, but does not by itself approve the customer; approval lands after\nagreement signing, at which point a `kyc_updated` webhook fires. This is sandbox-only; production\nstill requires manual review.\n\n**Authentication:** use your partner API key. This is a server-side call and cannot be made from a browser.\n\n**documentType** is `document` or `selfie` only. There is no `proof_of_address` type: the customer's address comes from the identity submitted to `POST /ramp/customer/{customer_id}/kyc`, not from a document. Send `document` and `selfie` as separate requests; multiple images of the same type can share one request. Re-submitting a documentType appends new images and does not overwrite a prior upload.\n\n**Image handling:** Etherfuse forwards your image bytes to the identity-verification provider as-is. Stripping EXIF or re-encoding is accepted on our side, but the provider's OCR, face-match, and liveness checks run on those exact bytes, so lossy re-encoding or dropping EXIF orientation can degrade results. Forward originals when you can; if you must scrub metadata, do it losslessly and preserve orientation.",
                "operationId": "upload_kyc_documents",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadKycDocumentsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "KYC documents uploaded",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Documents uploaded for review",
                                    "status": "submitted"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            }
        },
        "/ramp/verification/occupations": {
            "get": {
                "tags": [
                    "KYC"
                ],
                "summary": "List occupation categories",
                "description": "The values [`POST /ramp/customer/{customer_id}/verification/questionnaire`](/api-reference/kyc/submit-a-verification-questionnaire) accepts for `industry`. Either the `code` or the `label` is submittable.\n\nThe codes are opaque, so this is the only way to know them. Read live from the same definition the submission validates against, so the two cannot disagree.",
                "operationId": "list_occupation_categories",
                "responses": {
                    "200": {
                        "description": "The accepted occupation categories.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "occupations"
                                    ],
                                    "properties": {
                                        "occupations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "code",
                                                    "label"
                                                ],
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "description": "The value to send as `industry`."
                                                    },
                                                    "label": {
                                                        "type": "string",
                                                        "description": "What the code means. Also accepted as `industry`."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "occupations": [
                                        {
                                            "code": "1000000",
                                            "label": "NOT APPLICABLE"
                                        },
                                        {
                                            "code": "4430200",
                                            "label": "INFORMATION TECHNOLOGY - IT PROGRAMMING ENGINEERS OR TECHNICIANS"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/verification": {
            "post": {
                "tags": [
                    "KYC"
                ],
                "summary": "Submit verification data",
                "description": "First call in the [KYC API](/guides/kyc-api) flow. Nothing else is accepted before it: `country` is what routes the customer to their country's requirements.\n\n**Answers `202`, not `200`.** The request is validated before we answer; recording it upstream happens after. A `202` means accepted, not satisfied. Read the result from the `kyc_updated` webhook or [`GET /ramp/customer/{customer_id}/kyc?requirements=true`](/api-reference/kyc/get-kyc-status).\n\nRe-submitting overwrites what was sent before, and never moves the customer's review status on its own. Personal accounts only.",
                "operationId": "submit_verification",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubmitVerificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted and being applied. The customer's current verification status is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerificationStatusResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation failed. The plain text body lists every missing or invalid field at once, including a `country` that is not ISO 3166-1 alpha-3. Also returned when the customer is a business account, which verifies through [KYB](/guides/kyb), and when the `customer_id` exists but is not a child of your organization.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "dateOfBirth must be a date in YYYY-MM-DD format; country 'MX' is not a recognized ISO 3166-1 alpha-3 country code (e.g. MEX); address.city is required"
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    },
                    "409": {
                        "description": "This customer's verification is already approved or denied and cannot be modified. A denied customer resubmits by being launched into the hosted step, not over the API.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "This customer's verification is already approved; it cannot be modified"
                            }
                        }
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/verification/documents": {
            "post": {
                "tags": [
                    "KYC"
                ],
                "summary": "Upload verification documents",
                "description": "Upload the customer's documents as `multipart/form-data`. Send at least one of `id_front`, `id_back`, `proof_of_address` or `tax_document`.\n\n**Submit the customer's personal data first.** Until [`POST /ramp/customer/{customer_id}/verification`](/api-reference/kyc/submit-verification-data) has run the customer has no stages to upload against, so this answers `409`.\n\n**Answers `202`, not `200`.** Every part is read and checked before we answer; the upload itself is upstream work the caller shouldn't wait on. Watch [`GET /ramp/customer/{customer_id}/kyc?requirements=true`](/api-reference/kyc/get-kyc-status) for the requirement to go satisfied.",
                "operationId": "upload_verification_documents",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id_front": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Front of the identity document, or its only side. JPEG, PNG or PDF, up to 10 MB. At least one of `id_front`, `id_back`, `proof_of_address` or `tax_document` must be sent."
                                    },
                                    "id_back": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Back of the identity document, where it has two sides. JPEG, PNG or PDF, up to 10 MB. Required whenever `id_type` is `id_card` or `drivers_license`, and refused for `passport`, which is single-sided. Both sides go in the same request: sending this without `id_front` is a 400, so a back cannot be added to an earlier upload on its own."
                                    },
                                    "id_type": {
                                        "type": "string",
                                        "description": "Which identity document the `id_*` parts are. Required whenever one is sent. Case-sensitive: send the value exactly as listed.",
                                        "enum": [
                                            "ID_CARD",
                                            "PASSPORT",
                                            "DRIVERS"
                                        ]
                                    },
                                    "proof_of_address": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "A document evidencing the customer's address. JPEG, PNG or PDF, up to 10 MB. Only accepted once the proof-of-address requirement is outstanding: sent earlier it is accepted with a 202 and then dropped, leaving the requirement outstanding."
                                    },
                                    "proof_of_address_type": {
                                        "type": "string",
                                        "description": "Which kind of address document it is. Case-sensitive: send the value exactly as listed.",
                                        "default": "UTILITY_BILL",
                                        "enum": [
                                            "UTILITY_BILL",
                                            "BANK_STATEMENT",
                                            "TAX_BILL",
                                            "EMPLOYMENT_CERTIFICATE",
                                            "PROPERTY_DEED",
                                            "INVOICE"
                                        ]
                                    },
                                    "tax_document": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "A tax document, where the customer's country requires one; in Mexico, the Constancia de Situación Fiscal. JPEG, PNG or PDF, up to 10 MB. Not recorded for a customer whose verification does not collect one. See [Country-specific requirements](/guides/onboarding#country-specific-requirements)."
                                    },
                                    "country": {
                                        "type": "string",
                                        "description": "Issuing country of these documents, as an ISO 3166-1 alpha-3 code. Only needed when the customer's profile has no country yet.",
                                        "example": "MEX"
                                    }
                                }
                            },
                            "encoding": {
                                "id_front": {
                                    "contentType": "image/jpeg, image/png, application/pdf"
                                },
                                "id_back": {
                                    "contentType": "image/jpeg, image/png, application/pdf"
                                },
                                "proof_of_address": {
                                    "contentType": "image/jpeg, image/png, application/pdf"
                                },
                                "tax_document": {
                                    "contentType": "image/jpeg, image/png, application/pdf"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted and being applied. The customer's current verification status is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerificationStatusResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation failed. An unrecognized `id_type` or `proof_of_address_type` is refused with the valid values listed. Otherwise the plain text body names the first problem: a two-sided `id_type` without `id_back`, `id_back` without `id_front`, `id_back` for a single-sided `id_type`, a missing `id_type` alongside an `id_*` part, an unsupported content type, an empty or oversized file, an unrecognized `country`. Also returned when the customer is a business account, and when the `customer_id` exists but is not a child of your organization.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "id_back is required for ID_CARD, which is two-sided; send both sides in the same request"
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    },
                    "409": {
                        "description": "Not now, rather than never: all three cases are retryable or resolvable. Either nothing has been submitted for this customer yet, so submit their personal data first; or their personal data landed but the customer has not been routed to their country's requirements yet, so the stage this would attach to does not exist, and the `kyc_updated` webhook fires when routing completes (without a webhook, watch `GET /ramp/customer/{customer_id}/kyc?requirements=true` for the requirements list to appear); or their verification is already approved or denied and cannot be modified.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Submit this customer's personal data first (POST /ramp/customer/{customer_id}/verification). Documents and questionnaire answers are accepted once that is done."
                            }
                        }
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/verification/questionnaire": {
            "post": {
                "tags": [
                    "KYC"
                ],
                "summary": "Submit a verification questionnaire",
                "description": "Submit the customer's answers to one questionnaire, named by `type`. Today the only one a partner can submit is `occupation`; `type` is required so that a second questionnaire can be added without invalidating requests already being sent.\n\n| `type` | Answers | Applies to |\n|---|---|---|\n| `occupation` | `jobTitle`, `industry` | Every customer |\n\nDocuments are uploaded through [`POST /ramp/customer/{customer_id}/verification/documents`](/api-reference/kyc/upload-verification-documents), including a region's tax document. The customer agreement is a questionnaire too and is deliberately absent: consent is collected interactively from the person giving it, in the hosted step.\n\n**Submit the customer's personal data first**, or this answers `409`. As with document upload, the stage that asks these questions doesn't exist on the customer until then.\n\n**Answers `202`, not `200`.** `industry` is resolved against the live category list in the background, so an unrecognized value doesn't fail the request: it leaves the occupation requirement outstanding.",
                "operationId": "submit_verification_questionnaire",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "type",
                                    "jobTitle",
                                    "industry"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "description": "Which questionnaire these answers are for. New values may be added; a request naming one that does not exist is rejected listing the ones that do.",
                                        "enum": [
                                            "occupation"
                                        ],
                                        "example": "occupation"
                                    },
                                    "jobTitle": {
                                        "type": "string",
                                        "description": "The customer's occupation, free text.",
                                        "example": "Software Engineer"
                                    },
                                    "industry": {
                                        "type": "string",
                                        "description": "Occupation category: a `code` from [GET /ramp/verification/occupations](/api-reference/kyc/list-occupation-categories). The `label` is not accepted; it is display copy and can be reworded.",
                                        "example": "4430200"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted and being applied. The customer's current verification status is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerificationStatusResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation failed: a missing or unrecognized `type`, or a blank `jobTitle` or `industry`. Also returned when the customer is a business account, and when the `customer_id` exists but is not a child of your organization.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "tax_document: content type 'text/plain' is not supported (allowed: image/jpeg, image/jpg, image/png, application/pdf)"
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    },
                    "409": {
                        "description": "Not now, rather than never: all three cases are retryable or resolvable. Either nothing has been submitted for this customer yet, so submit their personal data first; or their personal data landed but the customer has not been routed to their country's requirements yet, so the stage this would attach to does not exist; the `kyc_updated` webhook fires when routing completes, and a retry after it succeeds; or their verification is already approved or denied and cannot be modified."
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/verification/import": {
            "post": {
                "tags": [
                    "KYC"
                ],
                "summary": "Import a verified session",
                "description": "Import a verification the customer already passed on the partner's own Sumsub level, handed over as a share token. Prerequisites, and what does and doesn't transfer: [KYC Sumsub Shared Token](/guides/kyc-sumsub-shared-token).\n\nAnswers **`200`**, not `202`: the import is committed before the response, which carries the same requirements breakdown as [`GET /ramp/customer/{customer_id}/kyc?requirements=true`](/api-reference/kyc/get-kyc-status).\n\n**Only `shareToken` is accepted.** The verification level and the customer's identity are ours to decide. The token is a credential; it is never logged and appears in no response.\n\nNo country is sent: it is read from the shared verification and used to route the customer. The customer's registered `user_info.email` is set on the imported applicant, so the email step confirms that address rather than one the customer types in.\n\n**Nothing is trusted wholesale.** Everything imported is re-checked against Etherfuse's own requirements, so a session approved in the partner's account is not automatically approved here.",
                "operationId": "import_verification",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ImportVerificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The session was imported. `requirements` describes what is still outstanding.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImportVerificationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The message carries the detail. Any of: `shareToken` missing; the token is expired, already spent, minted for someone else, or shares nothing our requirements ask for; the shared verification has no country on file, or one we cannot verify (nothing is created and the token is not spent); the customer has no email on file; the customer is a business account; or the `customer_id` exists but is not a child of your organization.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "The verification session could not be imported: share token has expired"
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    },
                    "409": {
                        "description": "This customer's verification has already started; a session can only be imported before verification begins.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "This customer's verification has already started; a session can only be imported before verification begins"
                            }
                        }
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "List customer orders",
                "description": "Returns the first page of orders for a specific customer with defaults (pageSize 30,\npageNumber 0, no filters). Use the POST variant for pagination and date filtering.\n\nReturns on/off-ramp orders only — swaps are not included. Track swaps via `swap_updated` webhooks.",
                "operationId": "list_customer_orders",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated orders",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedOrders"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            },
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Search customer orders",
                "description": "Retrieves orders for a specific customer. The request body is optional — omitting it\nreturns the first page with defaults (pageSize 30, pageNumber 0, no filters).\n\nReturns on/off-ramp orders only — swaps are not included. Track swaps via `swap_updated` webhooks.",
                "operationId": "get_customer_orders",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PagedRequest_DateRangeFilter"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Paginated orders",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedOrders"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/wallet": {
            "post": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Register customer wallet",
                "description": "Registers a crypto wallet for a customer that belongs to the caller's organization or a\ndirect child organization. Mirrors `POST /ramp/wallet` but scoped\nto a specific customer within the caller's org hierarchy.\n\nThis endpoint only accepts **bring-your-own (external)** wallets (`publicKey` + `blockchain`). Embedded-wallet provisioning is not supported for customer wallets. Use `POST /ramp/wallet` for the organization instead.\n\nIf the wallet was previously soft-deleted, it is restored. Optionally claims ownership of\nthe wallet on behalf of the customer's organization.\n\nIdempotent: registering an already-active wallet returns the existing record.",
                "operationId": "register_customer_wallet",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterWalletExternal"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The registered wallet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Wallet"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            }
        },
        "/ramp/customer/{customer_id}/wallets": {
            "get": {
                "tags": [
                    "Wallets"
                ],
                "summary": "List customer wallets",
                "description": "Returns the first page of crypto wallets for a specific customer with defaults\n(pageSize 30, pageNumber 0, no filters). Use the POST variant for pagination and\ndate filtering.",
                "operationId": "list_customer_crypto_wallets",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated crypto wallets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedWallets"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            },
            "post": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Search customer wallets",
                "description": "Retrieves crypto wallets for a specific customer. The request body is optional —\nomitting it returns the first page with defaults (pageSize 30, pageNumber 0, no filters).",
                "operationId": "get_customer_crypto_wallets",
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "description": "The customer (child org) ID. Must belong to the caller's organization or a direct child.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PagedRequest_DateRangeFilter"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Paginated crypto wallets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedWallets"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No organization exists with that `customer_id`."
                    }
                }
            }
        },
        "/ramp/customers": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "List customers",
                "description": "Returns the first page of customers with defaults (pageSize 30, pageNumber 0, no\nfilters). Use the POST variant for pagination and date filtering.",
                "operationId": "list_customers",
                "responses": {
                    "200": {
                        "description": "Paginated customers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedCustomers"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Search customers",
                "description": "Retrieves a paginated list of customers. The request body is optional — omitting it\nreturns the first page with defaults (pageSize 30, pageNumber 0, no filters).",
                "operationId": "get_customers",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PagedRequest_DateRangeFilter"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Paginated customers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagedCustomers"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ramp/evm/approve": {
            "post": {
                "tags": [
                    "Sponsored"
                ],
                "summary": "Approve EVM token",
                "description": "Generates an unsigned ERC20 `approve()` transaction that enables gasless\nofframps on EVM chains. When enabled for your organization, EVM offramp\ntransactions no longer require the user to hold native gas tokens (e.g. ETH on\nBase) — Etherfuse covers the bridging cost and bundles it into the offramp fee.\n\n**This approval must be completed before creating an offramp order** via\n`POST /ramp/order` for EVM wallets with this feature enabled; otherwise the\nofframp transaction fails on-chain.\n\n**Prerequisites:**\n- The feature must be enabled for your organization (contact Etherfuse).\n- The user must have a registered EVM wallet on a supported chain.\n\n**Flow:**\n1. Call this endpoint to get the approval transaction.\n2. Have the user sign and submit it in their wallet.\n3. Once confirmed, create the offramp order via `POST /ramp/order`.\n\n**Approval amount:** omit `amount` (recommended) to approve an unlimited amount\nonce per token per chain; or pass `amount` in base units to approve a specific\namount (consumed after each offramp). If a sufficient allowance already exists,\nthe response has `\"transaction\": null`.",
                "operationId": "evm_approve_proxy",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EvmApprovePayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Approval transaction, or `transaction: null` if already approved",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "already_approved": {
                                        "summary": "Already approved",
                                        "value": {
                                            "currentAllowance": "115792089237316195423570985008687907853269984665640564039457584007913129639935",
                                            "message": "Already approved — no transaction needed",
                                            "transaction": null
                                        }
                                    },
                                    "needs_approval": {
                                        "summary": "Approval needed",
                                        "value": {
                                            "message": "Approve transaction for gasless offramps on base",
                                            "transaction": "{\"to\":\"0xcC77c598...\",\"data\":\"0x095ea7b3...\",\"value\":\"0\",\"chainId\":84532}"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Feature not enabled on this chain, or invalid wallet address"
                    }
                }
            }
        },
        "/ramp/me": {
            "get": {
                "tags": [
                    "Organizations"
                ],
                "summary": "Get organization",
                "description": "Returns the identity of the organization associated with the current API key. Use the response `id` as `customerId` on `POST /ramp/quote` when you transact as your own org.",
                "operationId": "get_me",
                "responses": {
                    "200": {
                        "description": "The authenticated organization",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MeResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Organization not found"
                    }
                }
            }
        },
        "/ramp/onboarding-url": {
            "post": {
                "tags": [
                    "Deprecated"
                ],
                "deprecated": true,
                "summary": "Generate onboarding URL",
[...]
